---
import LayoutUser from "@/layouts/LayoutUser.astro";
import AddTodo from '@/components/protected/AddTodo.astro'
import {firebase} from '@/firebase/config'
import { getFirestore } from 'firebase/firestore';
import { collection, getDocs } from 'firebase/firestore';
interface Tasks {
  title: string;
  description: string;
}

const db = firebase.db;
const tasksRef = collection(db, "tasks");
const tasksSnapshot = await getDocs(tasksRef);
const tasks:Tasks[] = tasksSnapshot.docs.map((task): Tasks => {
  return task.data() as Tasks
})
console.log(tasks)
---

<LayoutUser>
    <section class="relative min-h-screen">

        <h1>hola Here's your TODOS</h1>
        <h1>{tasks.map(task => task.title)}</h1>
        {
          tasks.map((task) => {
            <table class="table">
              <!-- head -->
              <thead>
                <tr>
                  <th></th>
                  <th>{task.title}</th>
                  <th>What is?</th>
                  <th>Complete?</th>
                </tr>
              </thead>
              <tbody>
                <!-- rows -->
                <tr>
                  <th>1</th>
                  <td>{task.title}</td>
                  <td>{task.description}</td>
                </tr>
              </tbody>
            </table>
    
          })
        }


        
<AddTodo/>
    </section>
  

</LayoutUser>

