---

---

<div class="absolute bottom-20 left-10">
	<!-- Open the modal using ID.showModal() method -->
	<button
		class="btn bg-violet-500 hover:bg-violet-700 text-white flex"
		onclick="my_modal_1.showModal()"
	>
		<div>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="w-10"
				viewBox="0 0 24 24"
				><path
					fill="white"
					fill-rule="evenodd"
					d="M7.345 4.017a42.3 42.3 0 0 1 9.31 0c1.713.192 3.095 1.541 3.296 3.26a40.7 40.7 0 0 1 0 9.446c-.201 1.719-1.583 3.068-3.296 3.26a42.3 42.3 0 0 1-9.31 0c-1.713-.192-3.095-1.541-3.296-3.26a40.7 40.7 0 0 1 0-9.445a3.734 3.734 0 0 1 3.295-3.26M12 7.007a.75.75 0 0 1 .75.75v3.493h3.493a.75.75 0 1 1 0 1.5H12.75v3.493a.75.75 0 0 1-1.5 0V12.75H7.757a.75.75 0 0 1 0-1.5h3.493V7.757a.75.75 0 0 1 .75-.75"
					clip-rule="evenodd"></path></svg
			>
		</div>
		<div>
			<span class="font-bold">Create new TODO</span>
		</div>
	</button>
	<dialog id="my_modal_1" class="modal">
		<div class="modal-box h-screen flex flex-col">
			<div>
				<h3 class="text-lg font-bold text-white">
					Hello! add your new TODO
				</h3>
				<p class="py-4">
					Press ESC key or click the button below to close
				</p>
			</div>
			<div class="modal-action">
				<form
					class="flex flex-col w-full h-full align-middle bg-gray-50 p-4 rounded-2xl gap-y-4"
				>
					<div
						class="flex flex-col gap-y-1 bg-gray-100 p-2 rounded-xl border-2"
					>
						<label class="font-bold" for="title">Title:</label>
						<input
							name="title"
							type="text"
							placeholder="add task"
							id="task-title"
							class="input input-bordered w-full"
						/>
					</div>
					<div
						class="flex flex-col gap-y-1 bg-gray-100 p-2 rounded-xl border-2"
					>
						<label class="font-bold" for="description"
							>what are you going to do?:</label
						>
						<textarea
							name="description"
							class="textarea textarea-bordered"
							rows="3"
							placeholder="add description"
							id="task-title"></textarea>
					</div>
					<div class="flex flex-col gap-y-4 align-end mt-10">
						<button
							id="btn"
							type="submit"
							class="btn bg-pink-500 hover:bg-pink-700 text-white"
							>Save Task</button
						>
						<button
						type="button"
							class="btn bg-violet-500 hover:bg-violet-700 text-white"
							>Close</button
						>
					</div>
				</form>
			</div>
		</div>
	</dialog>
</div>

<script>
	import { actions } from 'astro:actions';
	import Swal from 'sweetalert2';

	document.addEventListener('DOMContentLoaded', () => {
		const form = document.querySelector('form') as HTMLFormElement;
		const btnSubmit = document.querySelector('#btn') as HTMLButtonElement;

		form.addEventListener('submit', async (e) => {
			e.preventDefault();
			try {
				const formData = new FormData(form);
				const { data, error } = await actions.addTask.safe(formData);
				if (error) {
					Swal.fire({
						icon: 'error',
						title: 'Credenciales no validas',
						text: error.message,
					});
				}
				Swal.fire({
					icon: 'success',
					title: 'Your task has been added!',
					text: data?.msg
				})
			} catch (error) {
				console.log('error');
			} finally {
				console.log('submit');
			}
		});
	});
</script>
