---

---




<div class="flex items-center space-x-2 text-gray-400">
    <span class="text-green-700 tracking-wider font-thin text-md"><a href="#">Home</a></span>
    <span>/</span>
    <span class="tracking-wide text-md">
        <span class="text-base">Categories</span>
    </span>
    <span>/</span>
  </div>